{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["react-app"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "quotes": [2, "single", { "avoidEscape": true }]
  }
}